<%@tweets.each do |tweet|%>

    <% if tweet.user %>

    <p class="tweet-author"><%=link_to tweet.user.name, username_path(tweet.user.username) %></p>
    <p class="tweet-username"><%=link_to tweet.user.username, username_path(tweet.user.username) %></p>
    <p class="tweet-timestamp"><%=link_to tweet.created_at, tweet_path(tweet.id) %></p>
    <p class="tweet-content"><%=tweet.content%></p>
   
    <%= button_to 'Reply', username_reply_path(@current_user.username)%>

    <%= button_to 'RT', username_retweet_path(@current_user.username)%>

    <%= button_to 'Favourite', username_favourite_path(@current_user.username)%>

    <%end%>

<%end%>