<%@tweets.each do |tweet|%>

    <% if tweet.user %>

        <%if tweet.original_tweet_id %>

            <p>Retweeted by <%=@current_user.username%></p>

            <p class="tweet-author"><%=link_to tweet.original_tweet.user.name, username_path(tweet.original_tweet.user.username) %></p>
            <p class="tweet-username"><%=link_to tweet.original_tweet.user.username, username_path(tweet.original_tweet.user.username) %></p>
            <p class="tweet-timestamp"><%=link_to tweet.original_tweet.user.created_at, tweet_path(tweet.id) %></p>
            <p class="tweet-content"><%=tweet.original_tweet.content%></p>

        <%else%>

            <p class="tweet-author"><%=link_to tweet.user.name, username_path(tweet.user.username) %></p>
            <p class="tweet-username"><%=link_to tweet.user.username, username_path(tweet.user.username) %></p>
            <p class="tweet-timestamp"><%=link_to tweet.created_at, tweet_path(tweet.id) %></p>
            <p class="tweet-content"><%=tweet.content%></p>

            <%= form_tag username_reply_path(@current_user.username) do %>
                <button><i class="fa fa-reply"></i></button>
            <% end %>

            <%= form_tag username_retweet_path(@current_user.username, tweet) do %>
                <button><i class="fa fa-retweet"></i></button>
            <% end %>

            <%= form_tag username_favourite_path(@current_user.username, tweet) do %>
                <button><i class="fa fa-star"></i></button>
            <% end %>

        <% if @current_user %>
          <%= link_to "favourite",   username_favourite_path(@current_user.username, tweet, type: "favourite"), method: :put %>
          <%=tweet.favourited_by.count%>
          <%= link_to "unfavourite", favourite_tweet_path(tweet, type: "unfavourite"), method: :put %>
        <% end %>

            



        <%end%>

    <%end%>

<%end%>