<nav class="sub-nav">
    <ul>
        <% @user ||= @current_user %>
        <!-- this does nothing when @user is not nil (as on a profile page), but when it is (as on the Home page) it sets @user to the current user. -->

        <li><%=link_to('Tweets', username_tweets_path(@user.username))%></li>
        <%= @user.tweets.count %>
        <li><%=link_to('Following', username_following_path(@user.username))%></li>
        <%= @user.following.count %>
        <li><%=link_to('Followers', username_followers_path(@user.username))%></li>
        <%= @user.followers.count %>
        <li><%=link_to('Favourites')%></li>
        <%= @total_favourites.to_s %>

    </ul>
</nav>