<div class="home-container">
    <div class="edit-user-container">
        <h1>Update profile</h1>
        <%= form_for @user, {:url => username_update_path, :action => :update_user } do |f| %>
            <div>
                <%= f.label :name%>
                <%= f.text_field :name, :autofocus => true, :required => true%>   
            </div>
            <div>
                <%= f.label :email %>
                <%= f.email_field :email, :required => true %> 
            </div>
            <div>
                <%= f.label :username%>
                <%= f.text_field :username, :required => true%>
            </div>
            
            <div>
                <%= f.label :organisation%>
                <%= f.text_field :organisation %>
            </div>
            <div>
                <%= f.label :user_location%>
                <%= f.text_field :user_location %>
            </div>
            <div>
                <%= f.label :bio, "Short bio" %>
                <%= f.text_area :bio %>
            </div>
                    <div>
                <%= f.label :profile_pic, "Profile picture"%>
                <%= f.file_field :profile_pic %>
            </div>
            <div>
                <%= f.label :is_news, "Journalist/News outlet" %> 
                <%= f.check_box :is_news %>  
            </div>
            <div>
                <%= f.submit "Update profile", :class => 'edit-profile-btn' %>
            </div>
        <% end %>
    </div>
</div>    