<div class="user-profile">
    <%= image_tag @user.profile_pic, :class => 'profile' %>
    <h1><%=@user.name.capitalize%></h1>
        <ul>
            <li>@<%=@user.username%></li>
            <li>Tweets: </li>
            <li>Followers: </li>
            <li>Following: </li>
            <li>Organisation: <%=@user.organisation%></li>
            <li><%=@user.bio%></li>
            <li>Location: <%=@user.user_location%></li>
            <li>Joined: <%=@user.created_at%></li>
        </ul>
</div>

<div class="twitter-feed">

    <ul>
        <li><a href="">News</a></li>
        <li><a href="">All</a></li>
        <li><a href="">Tweets</a></li>
        <li><a href="">Following</a></li>
        <li><a href="">Followers</a></li>
        <li><a href="">Mentions</a></li>
    </ul>

    

</div>