<div class="user-profile">
    <%= image_tag @user.profile_pic, :class => 'profile' %>
    <h1><%=@user.name.capitalize%></h1>
        <ul>
            <li>@<%=@user.username%></li>
            <li>Tweets: </li>
            <li>Followers: </li>
            <li>Following: </li>
            <li>Organisation: <%=@user.organisation%></li>
            <li><%=@user.bio%></li>
            <li>Location: <%=request.location %></li>
            <li>Joined: <%=@user.created_at.strftime('%B, %Y')%></li>

        </ul>
    <li><%=link_to('Edit profile ', username_edit_path(@current_user.username))%></li>
    <%= button_to 'Delete account', @user, :method => 'delete', :data => {:confirm => "Are you sure?"}%>
</div>

<div class="user-feed">
    <nav>
        <ul>
            <% @user ||= @current_user %>
            <!-- this does nothing when @user is not nil (as on a profile page), but when it is (as on the Home page) it sets @user to the current user. -->

            <li><%=link_to('Tweets', username_tweets_path(@user.username))%></li>
            <li><%=link_to('Following', username_following_path(@user.username))%></li>
            <%= @user.following.count %>
            <li><%=link_to('Followers', username_followers_path(@user.username))%></li>
            <%= @user.followers.count %>


            <%if @current_user.following?(@user) %>

            <%= form_for(@current_user.active_relationships.find_by(followed_id: @user.id),
                         html: { method: :delete }) do |f| %>
            <%= f.submit "Unfollow", class: "btn" %>
                    <% end %>

            <%else%>

            <%= form_for(@current_user.active_relationships.build) do |f| %>
            <div><%= hidden_field_tag :followed_id, @user.id %></div>
          <%= f.submit "Follow", class: "btn btn-primary" %>
             <% end %>

        <% end %>


        </ul>
    </nav>

    <%=render :partial => 'users/userfeed'%>
</div>
