<div class="user-profile">
    <%= image_tag @user.profile_pic, :class => 'profile' %>
    <h1><%=@user.name.capitalize%></h1>
        <ul>
            <li>@<%=@user.username%></li>
            <li>Tweets: </li>
            <li>Followers: </li>
            <li>Following: </li>
            <li>Organisation: <%=@user.organisation%></li>
            <li><%=@user.bio%></li>
            <li>Location: <%=@user.user_location%></li>
            <li>Joined: <%=@user.created_at%></li>
        </ul>
</div>

<div class="user-feed">
    <nav>
        <ul>
            <li><%=link_to('Tweets', username_tweets_path(@user.username))%></li>
            <li><%=link_to('Following', username_following_path(@user.username))%></li>
            <li><%=link_to('Followers', username_followers_path(@user.username))%></li>
            <%if @user != @current_user%>
                <button class="follow-button">Follow</button>
            <%end%>
        </ul>
    </nav>

    <%=render :partial => 'users/userfeed'%>
</div>
