
<% if @current_user.present? %>

    <h1>My dashboard</h1>

    <div class="newsfeed">
        <nav>
            <ul>
                <li><%=link_to('News', username_news_path(@current_user.username))%></li>
                <li><%=link_to('All', username_all_path(@current_user.username))%></li>
                <li><%=link_to('Mentions', username_mentions_path(@current_user.username))%></li>
            </ul>
        </nav>
    
        <%=render :partial => 'tweets/newsfeed'%>
    </div>

<% else %>

    <h1>Welcome to Twitter</h1>

    <div clas="login">
        <%=render :partial => '/session/new_session'%>
    </div>

    <div class="signup">
        <%=render :partial => 'users/new_user_form'%>
    </div>
 
<% end %>


