<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcome <%=@current_user.try(:name)%></h1>

<nav>
    <ul>
        <%== nav_menu %>
        <!-- #calling the menu helper -->
    </ul>
</nav>
<div class="container">
    <%= yield %>
</div>

</body>
</html>
