<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav>
    <ul>
        <%== nav_menu %>


        <%= form_tag(search_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Users" %>
        <%= submit_tag "Search", :name => nil %>
        <% end %>
        <!-- #calling the menu helper -->
    </ul>
</nav>
<div class="container">
    <%= yield %>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js">
</body>
</html>
